
html, body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

h4 {
    text-align: center;
}

.control-panel {
    text-align: center;
}

#search-span {
    position: absolute;
    left: 18%;
}

.search-icon {
  cursor: pointer;
}

.add-button {
    width: 30px;
    height: 30px;
    text-align: center;
}

#add-event-button {
    position: absolute;
    right: 16.5%;
}

.add-link-button {
  position: absolute;
  right: -1.5%;
}

.active {
    border:1px solid #7abaff;
}

.removed {
    font-size: 20px;
    color: red;
}

.header-links {
    color: #636b6f;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.title {
    color: #636b6f;
    font-size: 28px;
    text-align: center;
    display: inline-block;
}

.event_title {
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    padding-bottom: 5px;
    display: inline-block;
    width: 70%;
}

.published-removed-links {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.event {
    padding: 10px 10px;
    border-bottom: 1px solid black;
}

.event_links {
    display: none;
}

.links {
    width: 65%;
    display: inline-block;
}

.new-links-errors {
    position: absolute;
    right: 5%;
    width: 30%;
}

.event_link {
    display: block;
}

.new-link-form {
    display: none;
}

.removed-links {
    display: none;
}

.event_tags {
    display: block;
}

.event_tag {
    display: inline-block;
    left: 5px;
    border:1px solid #7abaff;
    padding: 2px 2px;
    cursor: pointer;
}

#inputs {
    margin-top: 20px;
    display: none;
    width: 100%;
}

.input_error {
    border: 2px solid red;
}

.websites {
    width: 70%;
    margin: auto;
}

.website {
    display: block;
}