
html, body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    height: 100vh;
    margin: 0;
}

h4, h5 {
    text-align: center;
    width: 100%;
}

.control-panel {
    text-align: center;
}

.tags {
    margin-top: 10px;
}

.tag-filter {
    cursor: pointer;
}

#auth-block {
    position: fixed;
    display: inline-block;
    float: right;
    right: 5%;
    z-index: 999;
}

#register-block {
    position: absolute;
    display: none;
}

#login-block {
    position: absolute;
    display: none;
}

#reset-password-block {
    position: absolute;
    display: none;
}

#register-block > input {
    display: block;
    width: 150px;
}

#login-block > input {
    display: block;
    width: 150px;
}

#reset-password-block > input {
    display: block;
    width: 150px;
}

#reset-password {
    display: block;
    cursor: pointer;
}

.category {
    display: block;
    cursor: pointer;
    padding: 10px;
}

#search-span {
    font-size: 16px;
    left: 18%;
}

.search-icon {
  cursor: pointer;
}

.error-block {
    display: block;
    margin: auto;
    width: 40%;
    text-align: center;
}

.response-error {
    display: none;
    margin: auto;
    width: 40%;
    text-align: center;
}

.add-button {
    width: 30px;
    height: 30px;
    text-align: center;
}

#add-event-button {
    position: absolute;
    right: 0;
}

.add-link-button {
  position: absolute;
  right: -1.5%;
}

.active {
    border:1px solid #7abaff;
}

.removed {
    display: block;
    font-size: 20px;
    color: red;
}

.remove_block {
    display: none;
}

.remove_link_block {
    display: none;
}

.remove_event {
    cursor: pointer;
    font-size: 20px;
    color: red;
}

.remove_link {
    cursor: pointer;
    font-size: 20px;
    color: red;
}

.confirm_removing_event {
    font-size: 20px;
    color: green;
    cursor: pointer;
}

.confirm_removing {
    font-size: 20px;
    color: green;
    cursor: pointer;
}

.header-links {
    color: #636b6f;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.title {
    color: #636b6f;
    font-size: 28px;
    text-align: center;
    display: inline-block;
}

.event_title {
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    padding-bottom: 5px;
    display: inline-block;
    width: 50%;
}

.published-removed-links {
    display: inline-block;
    float: right;
    cursor: pointer;
}

.event {
    padding: 10px 10px;
    border-bottom: 1px solid black;
}

.event_links {
    display: none;
}

.links {
    width: 65%;
    display: inline-block;
}

.new-links-errors {
    position: absolute;
    right: 5%;
    width: 30%;
}

.event_link {
    display: block;
}

.new-link-form {
    display: none;
}

.removed-links {
    display: none;
}

.event_tags {
    display: block;
}

.event_tag {
    display: inline-block;
    left: 5px;
    border:1px solid #7abaff;
    padding: 2px 2px;
    cursor: pointer;
}

#inputs {
    margin-top: 20px;
    display: none;
    width: 100%;
}

.input_error {
    border: 2px solid red;
}

.websites {
    margin: 20px auto;
}

.website {
    display: block;
    margin-top: 15px;
}

.website-status-button {
    font-size: 14px;
    width: 80px;
}

.moderators {
    display: block;
    margin: auto;
    width: 40%;
}